{% extends 'base.html.twig' %}

{% block title %}Episode #{{episode.number}}{% endblock %}

{% block body %}
<main>
    <div class="media">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}</h1>
        </div>
        <h2>Saison - {{episode.number}}</h2>

        <div>
            <a>
                <h3>{{episode.number}}-{{episode.title}}</h3>
            </a>
            <p>{{episode.synopsis}}</p>
        </div>

        {% if app.user %}
            <a href="{{path('app_comment_new')}}">add a comment</a>
        {% endif %}
        <br>
        {% for comments in episode.comments %}
        <h6>{{ comments.user.email }}</h6>
            <li>{{ comments.rate ~ ' ' ~ comments.comment}}</li>
        {% else %}
            Aucune commentaire trouvée.
        {% endfor %}
    </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
</main>
{% endblock %}