{% extends 'base.html.twig' %}

{% block title %}Season #{{season.number}}{% endblock %}

{% block body %}
<main>
    <div class="media">
        <img class="align-self-start mr-3" src="{{ vich_uploader_asset(program) }}" alt="{{ program.title }} Poster">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}</h1>
        </div>
        <h2>Saison - {{season.number}}</h2>
        {% for episode in season.episodes %}
        <div>
            <a>
            <h3>{{episode.number}}-{{episode.title}}</h3>
            </a>
            <a href="{{path('program_episode_show',{'slug':program.slug,'season':season.id, 'episode':episode.id})}}">show Me</a>
        </div>
        {% endfor %}

        

    </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
</main>
{% endblock %}

